<div class="container">
	<div class="row">
		<% @pics.each do |t| %>
			<div class="col-sm-6 col-md-4 col-lg-4 mt-4">
				<div class="card">
					<%= image_tag t.media.url(:large), class: "card-img-top"%>
					<div class="card-block">
						<h4 class="card-title"><%= link_to t.desc, pic_path(t) %></h4>
						<!-- <div class="meta"><a href="#">玩物</a></div> -->
						<!-- <div class="card-text">
							<%= t.desc %>
						</div> -->
					</div>
					<div class="card-footer">
						<span class="float-right"><%= t.user.name %></span>
						<span style="color:#F00">bb</span>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>

<%= link_to '提交图片', new_pic_path %>
